$blue: #300fcb;
$lightblue: #00f1e8;
$pink: #ff46fa;

.openerContainer {
  background-image: url('https://xbge-directus.frac.tools/assets/76990d23-4cd4-4ef6-a32e-e2f97a0bcefc');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 175rem;
}

#container {
  color: black;
  font-size: 4rem;
  font-family: 'SyneSemiBold';
  width: 100%;
  display: block;
  padding: 5rem 4rem;

  @media (max-width: 400px) {
    font-size: 2rem;
    padding: 4rem 3rem;
  }

  @media (max-width: 500px) {
    font-size: 3rem;
  }
}

#flip {
  height: 6rem;
  overflow: hidden;

  @media (max-width: 400px) {
    height: 3rem;
  }

  @media (max-width: 500px) {
    height: 4.5rem;
  }
}

#flip > div > div {
  color: #fff;
  height: 5rem;
  display: inline-block;

  @media (max-width: 400px) {
    height: 2.5rem;
  }

  @media (max-width: 500px) {
    height: 3.75rem;
  }
}

#flip div:first-child {
  animation: showl 5s ease-in-out infinite;

  @media (max-width: 400px) {
    animation: showxs 5s ease-in-out infinite;
  }

  @media (max-width: 500px) {
    animation: shows 5s ease-in-out infinite;
  }
}

#flip div div {
  background: $lightblue;
  padding: 0 1rem;

  @media (max-width: 500px) {
    padding: 0 0.75rem;
  }

  @media (max-width: 400px) {
    padding: 0 0.5rem;
  }
}
#flip div:first-child div {
  background: $pink;
  padding: 0 1rem;

  @media (max-width: 500px) {
    padding: 0 0.75rem;
  }

  @media (max-width: 400px) {
    padding: 0 0.5rem;
  }
}
#flip div:last-child div {
  background: $blue;
  padding: 0 1rem;

  @media (max-width: 500px) {
    padding: 0 0.75rem;
  }

  @media (max-width: 400px) {
    padding: 0 0.5rem;
  }
}

@keyframes showl {
  0% {
    margin-top: 0rem;
  }
  5% {
    margin-top: -12rem;
  }
  33% {
    margin-top: -12rem;
  }
  38% {
    margin-top: -6rem;
  }
  66% {
    margin-top: -6rem;
  }
  71% {
    margin-top: 0rem;
  }
  100% {
    margin-top: 0rem;
  }
}

@keyframes shows {
  0% {
    margin-top: -0rem;
  }
  5% {
    margin-top: -9rem;
  }
  33% {
    margin-top: -9rem;
  }
  38% {
    margin-top: -4.5rem;
  }
  66% {
    margin-top: -4.5rem;
  }
  71% {
    margin-top: 0rem;
  }
  99.99% {
    margin-top: 0rem;
  }
  100% {
    margin-top: -0rem;
  }
}

@keyframes showxs {
  0% {
    margin-top: -0rem;
  }
  5% {
    margin-top: -6rem;
  }
  33% {
    margin-top: -6rem;
  }
  38% {
    margin-top: -3rem;
  }
  66% {
    margin-top: -3rem;
  }
  71% {
    margin-top: 0rem;
  }
  99.99% {
    margin-top: 0rem;
  }
  100% {
    margin-top: -0rem;
  }
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 750px) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.flexAnimation {
  width: 100%;
  display: flex;
  justify-content: space-around;

  @media (max-width: 1100px) {
    width: 100%;
  }
}

.flexLogo {
  width: 100%;
  display: flex;
  justify-content: space-around;

  @media (max-width: 750px) {
    width: 100%;
    padding-bottom: 4rem;
  }
}
