@font-face {
  font-family: 'Syne';
  src: url(../fonts/Syne-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'SyneBold';
  src: url(../fonts/Syne-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'SyneSemiBold';
  src: url(../fonts/Syne-SemiBold.ttf) format('truetype');
}
