$blue: #300fcb;
$lightblue: #00f1e8;
$pink: #ff46fa;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: $pink;
  text-decoration: none;

  &:hover {
    color: $blue;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 1.5rem;
}

li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

button {
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
  border: none;
  font-weight: 600;
  background: $lightblue;
  color: $blue;

  &:hover {
    background: $blue;
    color: white;
  }
}

section {
  margin-bottom: 6rem;
}

iframe {
  border: none;
}
