.container {
  padding: 0 2rem;
  min-height: 100vh;

  @media (max-width: 500px) {
    padding: 0 1rem;
  }
}

.main {
  max-width: 75rem;
  margin: 0 auto;
}

.flexContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 750px) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.flexTitle {
  width: 72.5%;

  @media (max-width: 1100px) {
    width: 100%;
  }
}

.flexLogo {
  width: 22.5%;
  display: flex;
  justify-content: space-around;

  @media (max-width: 1100px) {
    width: 100%;
  }
}

.flexLogoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 500px) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.flexLogoRowContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4rem;

  @media (max-width: 500px) {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 0rem;
  }
}

.flexLogoItem {
  width: 40%;
  display: flex;
  justify-content: center;

  @media (max-width: 500px) {
    width: 80%;
    margin: 1rem auto;
  }
}

.button {
  width: 35rem;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}

.footer {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}
